# Cyclomatic Complexity Analysis with Radon

In [1]:
# Imports
import os
from radon.complexity import cc_visit, cc_rank
import pandas as pd

In [2]:
# Define the path to the folder containing the algorithms
path = 'Algorithms'

In [3]:
# Function to analyze the complexity of a Python file
def analyze_file(filepath):
    with open(filepath, 'r', encoding='utf-8') as file:
        code = file.read()
    return cc_visit(code)

In [4]:
import pandas as pd

# Loop through each Python file
for filename in os.listdir(path):
    if filename.endswith('.py'):
        print(f"\n {filename}")
        results = analyze_file(os.path.join(path, filename))

        # Prepare data for DataFrame
        data = []
        for r in results:
            data.append({
                "Name": r.name,
                "Line": r.lineno,
                "Complexity": r.complexity,
                "Rank": cc_rank(r.complexity),
                "Type": r.__class__.__name__
            })

        # Create and display table
        df = pd.DataFrame(data)
        if not df.empty:
            display(df.sort_values(by="Complexity", ascending=False).reset_index(drop=True))
        else:
            print("No functions or methods detected.")

 assembly.py

                           Name  Line  Complexity Rank      Type
0                 eulerian_path    55           9    B  Function
1                      __init__   113           6    B  Function
2                 DeBruijnGraph    13           6    B     Class
3   check_nearly_balanced_graph    32           5    A  Function
4                  OverlapGraph   105           4    A     Class
5                 seq_from_path    90           3    A  Function
6       search_hamiltonian_path   131           3    A  Function
7                 seq_from_path   164           3    A  Function
8                   composition     7           2    A  Function
9                      __init__    19           2    A  Function
10                       suffix    11           1    A  Function
11                       prefix    10           1    A  Function
12                      get_seq   155           1    A  Function

 auto_finito.py

                      Name  Line  Complexity Rank      Type
0                visualize    63           6    B  Function
1         _calculate_state    24           5    A  Function
2         AutomatosFinitos     1           4    A     Class
3          pattern_overlap    79           3    A  Function
4                 __init__     3           3    A  Function
5  _build_transition_table    15           3    A  Function
6         find_occurrences    51           3    A  Function
7            process_input    38           2    A  Function
8           get_next_state    73           2    A  Function

 BB.py

               Name  Line  Complexity Rank      Type
0  branch_and_bound    17           6    B  Function
1          score_bb    13           4    A  Function
2          motif_bb    42           4    A  Function
3           Counter     1           2    A     Class
4          __init__     2           1    A  Function
5         increment     5           1    A  Function
6           __int__     8           1    A  Function

 BWT.py

                  Name  Line  Complexity Rank      Type
0          bwt_reverse   145           5    A  Function
1  find_ith_occurrence     3           4    A  Function
2                  BWT    26           4    A     Class
3          bw_matching    94           4    A  Function
4             __init__    34           3    A  Function
5            build_bwt    46           3    A  Function
6   build_suffix_array    60           3    A  Function
7      bw_matching_pos   125           3    A  Function
8        last_to_first    74           2    A  Function

 exaustive.py

        Name  Line  Complexity Rank      Type
0      motif    37           7    B  Function
1      score    33           4    A  Function
2    proximo    13           3    A  Function
3   enumerar    25           2    A  Function
4    Counter     1           2    A     Class
5   __init__     2           1    A  Function
6  increment     5           1    A  Function
7    __int__     8           1    A  Function

 gibbs.py

                     Name  Line  Complexity Rank      Type
0          gibbs_sampling   117           5    A  Function
1                     pwm    54           4    A  Function
2             motif_gibbs   168           3    A  Function
3             print_motif   156           3    A  Function
4           GibbsSampling    10           3    A     Class
5          prob_positions    86           3    A  Function
6          roulette_wheel   100           3    A  Function
7   random_init_positions    35           2    A  Function
8                prob_seq    71           2    A  Function
9           create_motifs    43           2    A  Function
10               __init__    21           1    A  Function

 graph.py

                   Name  Line  Complexity Rank      Type
0         shortest_path   220           6    B  Function
1              distance   198           6    B  Function
2              dijkstra   365           6    B  Function
3   reachable_with_dist   242           6    B  Function
4        node_has_cycle   260           5    A  Function
5         WeightedGraph   301           5    A     Class
6         reachable_dfs   181           4    A  Function
7         reachable_bfs   164           4    A  Function
8                 Graph    23           4    A     Class
9              __init__    28           4    A  Function
10     get_predecessors   109           4    A  Function
11             __init__   306           4    A  Function
12            visualize   389           4    A  Function
13             add_edge   320           4    A  Function
14            visualize   287           4    A  Function
15       get_successors   353           3    A  Function
16     is_in_tuple_list     9           3    A  Function
17            get_edges    85           3    A  Function
18            get_edges   341           3    A  Function
19           add_vertex    41           2    A  Function
20             add_edge    50           2    A  Function
21          print_graph    62           2    A  Function
22       get_successors    97           2    A  Function
23            in_degree   130           2    A  Function
24            has_cycle   279           2    A  Function
25           out_degree   142           2    A  Function
26        get_adjacents   121           1    A  Function
27                 size    69           1    A  Function
28            get_nodes    77           1    A  Function
29               degree   154           1    A  Function

 metabolic_networks.py

                                   Name  Line  Complexity Rank      Type
0                           all_degrees    16          10    B  Function
1                betweenness_centrality   276          10    B  Function
2                betweenness_centrality   136           9    B  Function
3                       parse_reactions   328           7    B  Function
4                       clustering_coef   158           7    B  Function
5   _bfs_total_distance_and_reach_count   252           6    B  Function
6                              MN_Graph    10           5    A     Class
7                    CentralityAnalyzer   219           5    A     Class
8                        mean_distances    87           5    A  Function
9                  get_active_reactions   380           4    A  Function
10               build_metabolite_graph   360           4    A  Function
11            mean_clustering_perdegree   197           4    A  Function
12                      highest_degrees    39           3    A  Function
13                 closeness_centrality   239           3    A  Function
14                    highest_closeness   122           3    A  Function
15            compute_final_metabolites   408           3    A  Function
16                          prob_degree    69           3    A  Function
17                 closeness_centrality   106           3    A  Function
18             get_produced_metabolites   393           2    A  Function
19                 mean_clustering_coef   187           2    A  Function
20                 all_clustering_coefs   178           2    A  Function
21                    degree_centrality   230           2    A  Function
22                          mean_degree    56           1    A  Function
23                             __init__   224           1    A  Function
24                            top_nodes   313           1    A  Function

 tries.py

                  Name  Line  Complexity Rank      Type
0    prefix_trie_match    50           4    A  Function
1          _add_suffix   109           4    A  Function
2          add_pattern    27           3    A  Function
3                 Trie     1           3    A     Class
4    _get_leaves_below   133           3    A  Function
5         find_pattern   149           3    A  Function
6           SuffixTree    87           3    A     Class
7         trie_matches    72           3    A  Function
8           print_tree   164           3    A  Function
9                build   123           2    A  Function
10  trie_from_patterns    41           2    A  Function
11          print_trie     9           2    A  Function
12            __init__     2           1    A  Function
13            add_node    16           1    A  Function
14           _add_node    97           1    A  Function
15            __init__    88           1    A  Function